.jumbotron {
  background-image:url('https://s-media-cache-ak0.pinimg.com/originals/0d/9b/24/0d9b24189f42fb3f2563ef854b41ab0f.png');
  background-size: cover;
  padding-bottom: -20px;
}
.jumbotron h2 {
  font-family: fantasy;
  text-decoration: underline;
  text-align: center;
  font-size: 50px;
}
.jumbotron h3 {
  text-align: center;
  text-shadow: 1px 1px white;
}
.well {
  font: bold 20px fantasy;
  text-align: center;
  opacity: .75;
}
#epi {
  display: block;
  width: 50%;
}
.panel-heading {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
#classes {
  font-size: 20px;
  float:left;
}
body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/85/Mt_Rainier_with_Mt_St_Helens_at_the_background.jpg");
  background-size: cover;
  background-repeat: ;
}
.panel {
  width:100%;
  opacity: .75;
}
.btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font: bold 20px fantasy;
}
.row {
  border-bottom: 1px solid black;
}
.see {
  text-decoration: underline;
  font-size: 20px;
  border: 2px solid white;
  padding: 5px;
  margin-top: 5%;
  background-color: white;
  opacity: .75;
}
.radio {
  font: bold 20px white;
}
#hidden {
  display: none;
  text-align: center;
}
